################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InteractiveFictionEngine/obj
/.vs
/IFEngine/obj
