################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InteractiveFictionEngine/obj
/.vs
/IFEngine/obj
/IFEngine/bin/Debug/net7.0
/InteractiveFictionEngine/bin/Debug/net7.0
